<h1 style="text-align: center;"><i><b>Class 9</b></i></h1>
<div class="container">
  <div class="row">
  <div class="col-lg-4 col-12 col-xs-12 col-sm-12 col-xl-4 col-md-6">
  <div class="card border-info mb-3" style="max-width: 22rem;">
    <div class="card-header">Science</div>
    <div class="card-body">
      <h5 class="card-title">All In One 9</h5>
      <p class="card-text">This Quiz covers the important questions NCERT 9th Science TextBook.</p>
      <a routerLink="/class9/ScienceQuiz" class="btn btn-primary">Start Quiz</a>
    </div>
  </div>
  </div>
  <div class="col-lg-4 col-xs-12 col-sm-12 col-xl-4 col-md-6">
    <div class="card border-info mb-3" style="max-width: 22rem;">
      <div class="card-header">Socail Science</div>
      <div class="card-body">
        <h5 class="card-title">All In One 9</h5>
        <p class="card-text">This Quiz covers the important questions of NCERT 9th SocialScience TextBooks.</p>
        <a routerLink="/class9/SocialScienceQuiz" class="btn btn-primary">Start Quiz</a>
      </div>
    </div>
  </div>
    <div class="col-lg-4  col-xs-12 col-sm-12 col-xl-4 col-md-6">
      <div class="card border-info mb-3" style="max-width: 22rem;">
        <div class="card-header">Mathematics</div>
        <div class="card-body">
          <h5 class="card-title">All In One 9</h5>
          <p class="card-text">This Quiz covers the important questions of NCERT 9th Mathematics TextBook.</p>
          <a routerLink="/class9/MathematicsQuiz" class="btn btn-primary">Start Quiz</a>
        </div>
      </div>
  </div>
  </div>

  <router-outlet></router-outlet>
